
.material-icons.md-36 {
    position: absolute;
    top: 20%; 
    font-size: 36px; 
}

nav {
    background-color: orange;
}

h6 {
    font-weight: bold;
}

body {
    font-family: 'Averia Serif Libre', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer {
      background-color: orange;
  }
     

